{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Events" "puzzle:event_list" puzzle.pk %}
  {% breadcrumb "Add Event" "puzzle:event_create" puzzle.pk %}
  {% breadcrumb "Triggers & Actions" "puzzle:event_manage" puzzle.pk event.pk %}
  {% breadcrumb "Add Event Trigger" "puzzle:event_trigger_create" puzzle.pk event.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Add Event Trigger</h2>
  <p>Add a new trigger to this event. Once you select the type you will be able to select options for the trigger.</p>
  {% crispy form %}
{% endblock %}
