{% extends "puzzle/base.html" %}

{% load staticfiles%}
{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Events" "puzzle:event_list" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Event</h2>
  <p>
    Events are where the real fun happens. Using them you can cause one or more actions to occur if the criteria for a set of triggers are met.
  </p>
  {% render_table table %}
  <p>
    <a href="{% url 'puzzle:event_create' puzzle.pk %}"  class="btn btn-primary-outline">Add Event</a>
  </p>
{% endblock %}
