{% extends "puzzle/base.html" %}

{% load staticfiles%}
{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Events" "puzzle:event_list" puzzle.pk %}
  {% breadcrumb "Triggers & Actions" "puzzle:event_manage" puzzle.pk event.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Triggers</h2>
  <p>
    Triggers let you chose the criteria for the actions of an event to happen.
  </p>
  {% render_table tables.0 %}
  <p>
    <a href="{% url 'puzzle:event_trigger_create' puzzle.pk event.pk %}"  class="btn btn-primary-outline">Add Trigger</a>
  </p>

  <h2>Actions</h2>
  <p>
    Actions are what will happen when the criteria for all triggers have been satisfied.
  </p>
  {% render_table tables.1 %}
  <p>
    {# <a href="{% url 'puzzle:action_create' puzzle.pk event.pk %}"  class="btn btn-primary-outline">Add Action</a> #}
  </p>
{% endblock %}
