{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Events" "puzzle:event_list" puzzle.pk %}
  {% breadcrumb "Add Event" "puzzle:event_create" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Add Event</h2>
  <p>Here you can add a new event to your puzzle. Once you've chosen a name you'll be able to select triggers and actions for it.</p>
  {% crispy form %}
{% endblock %}
