{% load play %}

{% for history_p in message_history %}
<p class="play_paragraph history">{{history_p|linebreaksbr}}</p>
{% endfor %}

{% for message_p in current_messages %}
<p class="play_paragraph">{{message_p|linebreaksbr}}</p>
{% endfor %}

{% if puzzle_player.quest.is_finished or puzzle_player.quest.is_broken %}
  <form method="post" action="">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="continue" value="1" />Continue...</button>
  </form>
{% else %}
  <p>You are in: <strong>{{ puzzle_player.get_current_room.name }}</strong></p>
  {% if current_room_items|length > 0 %}
    <p class="item_in_room_list">In this room: <strong>{{ current_room_items|comma_delimited_list_of_items }}</strong></p>
  {% endif %}
  {% if inventory|length > 0 %}
    <p class="inventory_list">You are holding: <strong>{{ inventory|comma_delimited_list_of_items }}</strong></p>
  {% endif %}
  {% include "play/travel_and_action_form.html" %}
{% endif %}
