<form method="post" action="">
  {% csrf_token %}
  Travel:
  <select name="travel">
    <option value="-1"> ----- </option>
    {% for dir_pk,dir in current_directions.items %}
    <option value="{{dir_pk}}">{{ dir.name }}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-primary" name="do_travel" value="1" />Go</button>
</form>

<form method="post" action="">
  {% csrf_token %}
  Action:
  <select name="action">
    {% if interactions|length > 0 %}
    <optgroup label="Interactions">
      {% for interaction in interactions %}
        <option value="{{ interaction.pk }}">{{ interaction.name }}</option>
      {% endfor %}
    </optgroup>
    {% endif %}

    {% if inventory|length > 0 %}
    <optgroup label="Inventory">
      {% for pk,item in inventory.items %}
        <option value="inventory:{{ pk }}">Use {{ item.name }} on...</option>
      {% endfor %}
    </optgroup>
    {% endif %}
  </select>
  <select name="item">
    <optgroup label="Room">
      <option value="room:-1">{{ puzzle_player.get_current_room.name }}</option>
      {% for pk,item in current_room_items.items %}
        <option value="room:{{ pk }}">{{ item.name }}</option>
      {% endfor %}
    </optgroup>
    {% if inventory|length > 0 %}
    <optgroup label="Inventory">
      {% for pk,item in inventory.items %}
        <option value="inventory:{{ pk }}">{{ item.name }}</option>
      {% endfor %}
    </optgroup>
    {% endif %}
  </select>

  <button type="submit" class="btn btn-primary" name="do_action" value="1" />Do</button>
</form>
