// Alert colors
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// List table colours
$list-header-bg: #c9c9c9;
$list-odd-bg: #eaeaea;
$list-even-bg: #e0e0e0;

// Style colours
$history_text_color: #747474;

// Adjust the global size
html
{
  font-size: 14px;
}

// bootstrap alert CSS, translated to the django-standard
.alert-debug
{
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error
{
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.nav.navbar-nav.pull-right
{
  float: right !important;
}

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317
[hidden][style="display: block;"]
{
  display: block !important;
}

// List tables
.container.list
{
  padding-top: 20px;
  margin-bottom: 20px;
}
.list-header
{
  background-color: $list-header-bg;
  font-weight: bold;
  div
  {
    padding: 5px 0 5px 15px;
  }
}
.list-row-even
{
  padding: 5px;
  background-color: $list-even-bg;
}
.list-row-odd
{
  padding: 5px;
  background-color: $list-odd-bg;
}

// Sortable tables
body.dragging, body.dragging *
{
  cursor: move !important;
}

.dragged
{
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

table.sortable img.handle
{
  cursor: pointer;
}

table.sortable tr.placeholder
{
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

table.sortable tr.placeholder:before
{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  left: -5px;
  border-right: none;
}

table.sortable tr.placeholder_display td
{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

// Form stuff
form.form-horizontal div.form-group
{
  margin-bottom: .5em;
}

input[type=number]
{
  width: 100px;
}

p.help-block
{
  font-size: 12px;
}

form div.loading
{
  img{ padding-bottom: 10px; }
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 5px auto;
}

// Event action/trigger forms
body#event_trigger_create div.description_text,
body#event_action_create div.description_text
{
  font-size: 15px;
  font-weight: bold;
  background-color: #eee;
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #aaa;
}

// Play stuff
p.play_paragraph
{
  margin-bottom: 25px;
  font-size: 16px;
}
p.play_paragraph.history
{
  color: $history_text_color;
  font-size: 13px;
}
