{% load static from staticfiles %}
<div class="form-group row loading" style="display:none;">
  <label class="control-label col-sm-2"> </label>
  <div class="loading controls col-sm-10"><img src="{% static 'images/async-load.gif' %}" /><br />Loading&hellip;</div>
</div>
