{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Delete Puzzle" "puzzle:delete" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Delete Puzzle</h2>

  <form action="" method="post">{% csrf_token %}
    <p><strong>STOP AND READ!!!</strong></p>
	<p>
      You are about to delete your whole puzzle! ({{object.name}})<br />
	  <strong>This is not reversible!</strong><br />
	  If you are completely and totally sure you want to undo all your hard work then click confirm below.
    </p>
    <p>Don't come crying to me afterwards.</p>

    <button type="submit" class="btn btn-secondary" />Confirm</button>
  </form>
{% endblock %}
