{% extends "puzzle/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Build Puzzles{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Build Puzzle Home</h2>
   <p>This will be some information about how to build puzzles.</p>
{% endblock %}
