{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Rooms" "puzzle:room_list" puzzle.pk %}
  {% breadcrumb "Room Directions" "puzzle:direction_list" puzzle.pk room.pk  %}
  {% breadcrumb "Delete Direction" "puzzle:direction_update" puzzle.pk room.pk direction.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Delete Room Direction</h2>

  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete the direction "{{object.name}}"?</p>
    <button type="submit" class="btn btn-secondary" />Confirm</button>
  </form>
{% endblock %}
