{% load common %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% nav_active request "index" %}" href="{% url "puzzle:index" puzzle.pk %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% nav_active request "edit" %}" href="{% url "puzzle:edit" puzzle.pk %}">Edit Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% nav_active request "room_list" "room_create" "room_update" "room_delete" "direction_list" "direction_create" "direction_update" "direction_delete" %}" href="{% url "puzzle:room_list" puzzle.pk %}">Rooms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% nav_active request "item_list" "item_create" "item_update" "item_delete" %}" href="{% url "puzzle:item_list" puzzle.pk %}">Items</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% nav_active request "event_list" "event_create" "event_update" "event_delete" "event_manage" %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url "puzzle:event_list" puzzle.pk %}">Events</a>
      <a class="dropdown-item" href="#">Action Groups</a>
      <a class="dropdown-item" href="#">Values</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link {% nav_active request "interaction_list" "interaction_create" "interaction_update" "interaction_delete" %}" href="{% url "puzzle:interaction_list" puzzle.pk %}">Interactions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% nav_active request "test" %}" href="{% url "puzzle:test" puzzle.pk %}">Test</a>
  </li>
</ul>
