{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Items" "puzzle:item_list" puzzle.pk %}
  {% breadcrumb "Add Item" "puzzle:item_create" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Add Item</h2>
  <p>Here you can add a new item to your puzzle.</p>
  {% crispy form %}
{% endblock %}
