{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Edit Puzzle Info" "puzzle:edit" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Edit Puzzle Info</h2>
  <p>Edit the basic settings of your puzzle here.</p>
  {% crispy form %}
{% endblock %}
