{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Rooms" "puzzle:room_list" puzzle.pk %}
  {% breadcrumb "Delete Room" "puzzle:room_delete" puzzle.pk room.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Delete Room</h2>

  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <button type="submit" class="btn btn-secondary" />Confirm</button>
  </form>
{% endblock %}
