{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Interactions" "puzzle:interaction_list" puzzle.pk %}
  {% breadcrumb "Edit Interactions" "puzzle:interaction_update" puzzle.pk item.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Edit Interaction</h2>
  {% if item.built_in %}
  <p>You cannot change the fail message of default interactions but you may hide the interaction from the player and change it's name.</p>
  {% endif %}
  {% crispy form %}
{% endblock %}
