{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Items" "puzzle:items_list" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Items</h2>
  <p>This is where you can create and edit the items in your puzzle that players can interact with.</p>
  {% render_table table %}
  <p>
    <a href="{% url 'puzzle:item_create' puzzle.pk %}"  class="btn btn-primary-outline">Add Item</a>
  </p>
{% endblock %}
