{% extends "puzzle/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Rooms" "puzzle:room_list" puzzle.pk %}
  {% breadcrumb "Room Directions" "puzzle:directions_list" puzzle.pk room.pk  %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Room Directions ({{room.name}})</h2>
  <p>One way to link rooms to each other is to define directions like "North" and "South" that the player can use them to travel to the rooms that their linked to.</p>
  {% render_table table %}
  <p>
    <a href="{% url 'puzzle:direction_create' puzzle_pk=puzzle.pk room_pk=room.pk %}"  class="btn btn-primary-outline">Add Direction To Room</a>
  </p>
{% endblock %}
