{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Interactions" "puzzle:interaction_list" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Interactions</h2>
  <p>Here is where you can edit the interactions that players can use to interact with rooms and items in your puzzle.</p>
  {% render_table table %}
  <p>
    <a href="{% url 'puzzle:interaction_create' puzzle.pk %}"  class="btn btn-primary-outline">Add Interaction</a>
  </p>
{% endblock %}
