{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Interactions" "puzzle:interaction_list" puzzle.pk %}
  {% breadcrumb "Delete Interaction" "puzzle:interaction_delete" puzzle.pk item.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Delete Interaction</h2>

  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete the interaction "{{ object.name }}"?</p>
    <button type="submit" class="btn btn-secondary" />Confirm</button>
  </form>
{% endblock %}
