{% extends "puzzle/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Rooms" "puzzle:rooms_list" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Rooms</h2>
  <p>Here is where you can edit the rooms that make up your puzzle.</p>
  {% render_table table %}
  <p>
    <a href="{% url 'puzzle:room_create' puzzle.pk %}"  class="btn btn-primary-outline">Add Room</a>
  </p>
{% endblock %}
