{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Rooms" "puzzle:room_list" puzzle.pk %}
  {% breadcrumb "Room Directions" "puzzle:direction_list" puzzle.pk room.pk  %}
  {% breadcrumb "Add Room Direction" "puzzle:direction_create" puzzle.pk room.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Add Room Direction ({{room.name}})</h2>
  <p>Here you can add a new direction to this room.</p>
  {% crispy form %}
{% endblock %}
