{% extends "puzzle/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Test" "puzzle:test" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>{{ puzzle.name }} (Testing)</h2>
  {% include "play/play_interface.html" %}
  <hr />
  <p>
    <a href="{% url 'puzzle:test_restart' puzzle.pk %}"  class="btn btn-primary-outline">Restart Puzzle</a>
  </p>
{% endblock %}
