{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Interactions" "puzzle:interaction_list" puzzle.pk %}
  {% breadcrumb "Add Interactions" "puzzle:interaction_create" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Add Interaction</h2>
  <p>Here you can add a new interaction to your puzzle.</p>
  {% crispy form %}
{% endblock %}
