{% extends "puzzle/base.html" %}

{% load common %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Rooms" "puzzle:room_list" puzzle.pk %}
  {% breadcrumb "Add Room" "puzzle:room_create" puzzle.pk %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Add Room</h2>
  <p>Here you can add a new room to your puzzle.</p>
  {% crispy form %}
{% endblock %}
