{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Start A New Puzzle{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Build" "puzzle:build" %}
    {% breadcrumb "Start a New Puzzle" "puzzle:create" %}
{% endblock %}

{% block content %}
  <h2>Start New Puzzle</h2>
  <p>To start creating a new puzzle, enter it's name here. (You can change this later.)</p>
  {% crispy form %}
{% endblock %}
