{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block title %}Build Puzzles{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Build" "puzzle:build" %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <h2>Build Puzzles</h2>
  <p>This is the list of all the puzzles you're currently creating.</p>
  {% render_table table %}
  <p>
    <a href="{% url 'puzzle:create' %}"  class="btn btn-primary-outline">Start a new puzzle</a>
  </p>
{% endblock %}
