{% load django_bootstrap_breadcrumbs %}{% load staticfiles i18n %}{% load common %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adventext - {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Fiona Summers">

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body id="{{request.resolver_match.url_name}}">

    <div class="m-b">
      <nav class="navbar navbar-dark navbar-static-top bg-inverse">
        <div class="container">
         <a class="navbar-brand" href="/">Adventext</a>
          <button type="button" class="navbar-toggler hidden-sm-up pull-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <nav class="nav navbar-nav">
              <a class="nav-link nav-item" href="{% url 'home' %}">Home</a>
              <a class="nav-link nav-item" href="{% url 'about' %}">About</a>
              {% if request.user.is_authenticated and request.user.can_build %}
              <a class="nav-link nav-item" href="{% url 'puzzle:build' %}">Build</a>
              {% endif %}
            </nav>

            <nav class="nav navbar-nav pull-right">
              {% if request.user.is_authenticated %}
                <a class="nav-link nav-item" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                <a class="nav-link nav-item" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
              {% else %}
                <a class="nav-link nav-item" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                <a class="nav-link nav-item" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
              {% endif %}
            </nav>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">

      {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% breadcrumb "Home" "/" %}
      {% endblock %}

      {% render_breadcrumbs "breadcrumbs.html" %}

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <script>{% js_registry %}</script>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery-sortable.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
