html {
  font-size: 14px; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.nav.navbar-nav.pull-right {
  float: right !important; }

[hidden][style="display: block;"] {
  display: block !important; }

.container.list {
  padding-top: 20px;
  margin-bottom: 20px; }

.list-header {
  background-color: #c9c9c9;
  font-weight: bold; }
  .list-header div {
    padding: 5px 0 5px 15px; }

.list-row-even {
  padding: 5px;
  background-color: #e0e0e0; }

.list-row-odd {
  padding: 5px;
  background-color: #eaeaea; }

body.dragging, body.dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000; }

table.sortable img.handle {
  cursor: pointer; }

table.sortable tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }

table.sortable tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  left: -5px;
  border-right: none; }

table.sortable tr.placeholder_display td {
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

form.form-horizontal div.form-group {
  margin-bottom: .5em; }

input[type=number] {
  width: 100px; }

p.help-block {
  font-size: 12px; }

form div.loading {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 5px auto; }
  form div.loading img {
    padding-bottom: 10px; }

body#event_trigger_create div.description_text,
body#event_action_create div.description_text {
  font-size: 15px;
  font-weight: bold;
  background-color: #eee;
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #aaa; }

p.play_paragraph {
  margin-bottom: 25px;
  font-size: 16px; }

p.play_paragraph.history {
  color: #747474;
  font-size: 13px; }

/*# sourceMappingURL=project.css.map */
